.day {
  background: linear-gradient(315deg, #e1701a, #f7a440, #f6dcbf, #aaaaaa);
  background-size: 800% 800%;
  -webkit-animation: day 39s ease infinite;
}
@-webkit-keyframes day {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.night {
  background: linear-gradient(325deg, #464159, #6c7b95, #8bbabb);
  background-size: 800% 800%;
  -webkit-animation: night 12s ease infinite;
}
@-webkit-keyframes night {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  background: rgba(255, 255, 255, 0.2);
  padding: 80px;
  display: block;
  max-width: 200px;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.1);
}
.container:hover {
  background-color: rgba(255, 255, 255, 0.4);

  transition: all 500ms ease-in-out;
}
#search-form {
  display: block;
  padding-left: 55px;
  padding-bottom: 30px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  padding-left: 55px;
  display: inline;
}
#imperial {
  font-family: "Open Sans", sans-serif;
  vertical-align: top;
  font-size: 50px;
  padding-bottom: 35px;
  font-weight: 600;
}
.units {
  font-size: 30px;
  font-weight: 400;
  vertical-align: top;
  line-height: 110px;
  text-decoration: none;
}
.today {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  padding-left: 59px;
  font-size: 30px;
}

#current {
  display: block;
  margin-right: 20px;
}
.specs {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  display: block;
  text-align: right;
  line-height: 2;
  padding-top: 20px;
}
#city {
  font-size: 80px;
  font-weight: 600;
}
.degree {
  font-size: 170px;
  padding-bottom: 35px;
  font-weight: 600;
}
.icon {
  display: block;
  padding-left: 55px;
}
.forecast {
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: sans-serif;
}
footer {
  font-family: "Open Sans", sans-serif;
  display: block;
  text-align: center;
}
